<div class="landing-v4-ads-wrapper">
  <div class="landing-v4-ads-pic">
    <div class="img" style="background-image: url(&quot;/images/annonces/professeur-home-cours-piano-paris-petite-couronne-plaisir-efficacite-simplicite.jpg&quot;);"></div>
    <div class="landing-v4-ads-pic-mask"></div>
    <div class="landing-v4-ads-pic-text-container">
      <p class="landing-v4-ads-pic-firstname">Emmanuel</p>
      <div class="landing-v4-ads-pic-location"><span class="landing-v4-ads-pic-icon geolocation"></span> <span class="landing-v4-ads-pic-text">Paris 17e</span></div>
      <!---->
    </div>
  </div>
  <div class="landing-v4-ads-badge">
    <span class="landing-v4-ads-badge-chips landing-v4-ads-badge-pricing"><span>70€ <sup>/h</sup></span><span class="dot"> ·</span> <span class="landing-v4-ads-badge-free-lesson">1<sup>er</sup> cours offert</span></span>
    <div class="landing-v4-ads-badge-chips landing-v4-ads-badge-rating"><span class="landing-v4-ads-badge-rating-text">4.9</span> <span class="landing-v4-ads-badge-rating-icon star-fullV2"></span> <span class="landing-v4-ads-badge-rating-view-count">23 avis</span></div>
    <div class="landing-v4-ads-badge-ambassadeur"></div>
  </div>
  <h3 class="landing-v4-ads-text">Cours de piano à Paris et petite couronne : plaisir, efficacité, simplicité!</h3>
  <!---->
</div>
