<div class="container">

  <div class="row first">

    <div class="col">About us<br>
      <ul class="list">
        <li class="list-item">Our team</li>
        <li class="list-item">Our company</li>
        <li class="list-item">Our mission</li>
      </ul>

    </div>

    <div class="col">Website<br>
      <ul class="list">
        <li class="list-item"><i class="fas fa-user-lock"></i> Privacy Policy</li>
      </ul>
    </div>

    <div class="col">Contact<br>
      <ul class="list">
        <li class="list-item"><i class="fab fa-whatsapp"></i> WhatsApp: (21) 9999-9999</li>
        <li class="list-item"><i class="fas fa-at"></i> E-mail: gtjt@gmail.com</li>
      </ul>
    </div>

  </div>

  <div class="row footer">
    <i class="far fa-copyright"></i>
     2019 GetThatJobThere, Inc. All rights reserved.
  </div>

</div>
<!--
<div class="footer">
  <div class="footer">
    About us<br>
    Our team<br>
    teste
  </div>
  <div class="footer-links">
    Contact us:<br>
    <i class="fab fa-whatsapp"></i>
    <i class="fas fa-at"></i>

    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="far fa-copyright"></i>
    All contents protected by CopyRight.
  </div>
</div>
 -->
