<h1>The Coaches</h1>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://unsplash.com/photos/ScQngs6oO1E)">
  Discover coaches in your city
</div>

