<div class="container">
<div class="row text-center">The gals</div>
<div class="row">
  <div class="col">Sarra - The CEO</div>
  <div class="col">Natalia - The CTO</div>
</div>
<div class="row">The guys</div>
<div class="row">
  <div class="col">Fernando - The Investor</div>
  <div class="col">Andre - The Alexa</div>
</div>
</div>
