<div class="container">
  <div class="who-are-we-card">
    <img src="https://avatars0.githubusercontent.com/u/51202659?v=4" />
    <div class="who-are-we-card-infos">
      <h2>Sarra : CEO </h2>
      <p>Dream team member, from code machine to Cash Machine !</p>
    </div>
  </div>

  <div class="who-are-we-card">
    <img src="https://media.licdn.com/dms/image/C5103AQEozaGU1Df5-g/profile-displayphoto-shrink_200_200/0?e=1573689600&v=beta&t=AIT-SOLv2zQ5oESNQi6robxRkEyngb-oVGzjn_6b9AU" />
    <div class="who-are-we-card-infos">
      <h2>Natalia : CTO </h2>
      <p>Dream team member</p>
    </div>
  </div>

  <div class="who-are-we-card">
    <img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/kp3z2sxn9v1b97i4vf8y.jpg" />
    <div class="who-are-we-card-infos">
      <h2>Fernando : Business Angel </h2>
      <p>Dream team member</p>
    </div>
  </div>

  <div class="who-are-we-card">
    <img src="https://avatars1.githubusercontent.com/u/45776359?v=4" />
    <div class="who-are-we-card-infos">
      <h2>André : Expert AI </h2>
      <p>Dream team member</p>
    </div>
  </div>
</div>

<a class="coaches-card-link">
      <div class="coaches-card">
            <%= image_tag('https://avatars0.githubusercontent.com/u/51202659?v=4', alt: "coach picture", class: 'card-trip-user avatar-square') %>

            <div class="coaches-card-infos">
              <h2>Sarra</h2>
              <p><strong>Role:</strong> CEO</p>
              <p class="text-justify"><strong>Description:</strong><br></p>
            </div>
        </div>
      </a>
