.appointments-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.appointment-card {
  background-color: #F9F9F9;
  border-radius: 24%;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
