<div class="container">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60);">
    <%= current_user.first_name  %> ' s Appointments
  </div>
  <br>
  <p class="text-center"> </p>

  <div class="container">
    <ol>
        <div class="card-trip-infos">
            <div>
              <h2>This week</h2>
              <% @appointments.each do |appointment| %>
              <p>You have a meeting with <strong><%= Coach.find(appointment.coach_id).first_name %></strong>
                  at <%= appointment.start_time %> for <%= pluralize( appointment.duration, 'hour' ) %>
                </p>
                <% end %>
            </div>
              <br>
             </div>
          </li>
        </div>
    </ol>
  </div>
</div>


